{% load wagtailadmin_tags %}

<div class="wn-panel">
    {% if not campaign_sent %}
        <div class="help-block help-info">
            {% icon name="help" %}
            This action will save a new page revision.
        </div>

        <p>
            <button
                type="submit"
                name="newsletter_action"
                value="save_campaign"
                class="button"
            >
                Save campaign
            </button>
        </p>
    {% endif %}

    {% if campaign %}
        <p>
            <a href="{{ campaign.url }}" target="_blank">
                {% icon name="link-external" classname="w-w-4 w-h-4" %}
                Open campaign in {{ self.heading }}
            </a>
        </p>
    {% endif %}

    {% if campaign_sent %}
        {% block campaign_status %}
            <p>
                <b>Status:</b>
                {{ campaign.status }}
            </p>

            {% with report=campaign.get_report %}
                {% if report.send_time %}
                    <p>
                        <b>Send time:</b>
                        {{ report.send_time }}
                        ({{ report.send_time|timesince }} ago).
                    </p>
                {% endif %}

                <p>
                    <b>Emails sent:</b>
                    {{ report.emails_sent }} ({{ report.bounces }} bounces)
                </p>

                <p>
                    <b>Opens:</b>
                    {{ report.opens }}
                </p>

                <p>
                    <b>Clicks:</b>
                    {{ report.clicks }}
                </p>
            {% endwith %}
        {% endblock %}
    {% endif %}
</div>
