{% load wagtailadmin_tags %}

{% if self.instance.pk %}
    <div
        class="wn-panel loading-mask"
        data-controller="wn-panel"
        data-wn-panel-loaded-value="{{ self.loaded|lower }}"
        data-wn-panel-urls-value="{{ urls_json }}"
        data-wn-panel-user-email-value="{{ user_email }}"
        {% if recipients %}
            data-wn-panel-recipients-description-value=
                "&quot;{{ recipients.name }}&quot; with {{ recipients.member_count }} subscribers"
        {% endif %}
        data-wn-panel-error-class="wn-panel--error"
        data-wn-panel-loading-class="loading"
    >
        {% if loaded and not campaign_sent %}
            <div class="help-block help-critical wn-panel__error-block">
                {% icon name="warning" %}
                <output data-wn-panel-target="errorMessage"></output>
            </div>

            <p>
                {% if locked %}
                    <button
                        type="button"
                        class="button button-small"
                        data-action="wn-panel#unlock"
                    >
                        {% icon name="lock" classname="w-w-4 w-h-4" %}
                        Unlock page
                    </button>
                {% else %}
                    <button
                        type="button"
                        class="button button-small"
                        data-action="wn-panel#lock"
                    >
                        {% icon name="lock" classname="w-w-4 w-h-4" %}
                        Lock page for newsletter
                    </button>
                {% endif %}
            </p>

            <p>
                <button
                    type="button"
                    class="
                        button button-small button-secondary button-longrunning
                        {% if not locked %}disabled{% endif %}
                    "
                    data-controller="w-progress"
                    data-action="wn-panel#saveCampaign"
                    data-wn-panel-target="saveCampaign button"
                >
                    {% icon name="spinner" %}
                    Save campaign
                </button>

                <button
                    type="button"
                    class="
                        button button-small button-secondary
                        {% if not locked %}disabled{% endif %}
                    "
                    data-action="wn-panel#sendTestEmail"
                    data-wn-panel-target="sendTestEmail button"
                >
                    Send test email
                </button>

                <button
                    type="button"
                    class="
                        button button-small
                        {% if not locked %}disabled{% endif %}
                    "
                    data-action="wn-panel#sendCampaign"
                    data-wn-panel-target="sendCampaign button"
                    {% if not recipients %}
                        disabled
                    {% endif %}
                >
                    Send campaign
                </button>
            </p>
        {% endif %}

        <p class="help" data-wn-panel-target="message">
            {{ message }}
        </p>

        {% if campaign %}
            <p>
                <a href="{{ campaign.url }}" target="_blank">
                    {% icon name="link-external" classname="w-w-4 w-h-4" %}
                    Open campaign in {{ self.heading }}
                </a>
            </p>
        {% endif %}

        {% if campaign_sent %}
            {% block campaign_status %}
                <p>
                    <b>Status:</b>
                    {{ campaign.status }}
                </p>

                {% with report=campaign.get_report %}
                    {% if report.send_time %}
                        <p>
                            <b>Send time:</b>
                            {{ report.send_time }}
                            ({{ report.send_time|timesince }} ago).
                        </p>
                    {% endif %}

                    <p>
                        <b>Emails sent:</b>
                        {{ report.emails_sent }} ({{ report.bounces }} bounces)
                    </p>

                    <p>
                        <b>Opens:</b>
                        {{ report.opens }}
                    </p>

                    <p>
                        <b>Clicks:</b>
                        {{ report.clicks }}
                    </p>
                {% endwith %}
            {% endblock %}
        {% endif %}
    </div>
{% else %}
    <div class="help-block help-info">
        {% icon name="help" %}
        Page must be saved before it can be sent as a newsletter.
    </div>

{% endif %}
