.wn-panel__unsaved-warning {
  display: none;
}

.wn-panel--unsaved .wn-panel__unsaved-warning {
  display: block;
}

.wn-panel__error-block {
  display: none;
}

.wn-panel--error .wn-panel__error-block {
  display: block;
}
